/* STARS */
/* .dcy_wrapstars li { display: inline-block; margin: 0; line-height: 30px; margin-right: 10px; }
.dcy_wrapstars li a { width: 13px; line-height: 30px; display: block; color: #738290; }
.dcy_wrapstars li a span.dcy_staractive, .dcy_wrapstars li a:hover  { color: #F6BD00 }
.dcy_wrapstars li a:hover span.fa-star-o { color: #738290; } */



/* ANIMATION Repeat IN-OUT*/
/* .animate-repeat {line-height:40px; list-style:none; box-sizing:border-box; }

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {-webkit-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all; -moz-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all; -ms-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all; -o-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all; transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all; position: relative; display: block; }

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {opacity: 0; left: -50px; height: 0px; }

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {opacity: 1; left: 0; height: 30px; } */


/*==========================================================================================*/
/*                                         MENU                                             */
/*==========================================================================================*/
/* Imposta la larghezza della voce di menu */ 
md-menu-content {
	min-width: 180px;
}

/* Imposta il font delle voci di menu */
md-menu-item button span{
	font-size: 12px;
}

/* Angular material usa Start che in IE non funziona, e quindi le voce sono al centro del menu */
md-menu-item > .md-button {
	text-align: left;
}

/*==========================================================================================*/
/*                                     TAB ANNIDATI                                         */
/*   Sostituisce il md-align-tabs="bottom" di angular-material per non sovrascrivere il     */ 
/*   comportamento dei tabs annidati                                                        */
/*==========================================================================================*/
md-tabs[md-align-tabs="dcy_bottom"] > md-tabs-wrapper {
	position : absolute;
	bottom   : 0;
	left     : 0;
	right    : 0;
	height   : 48px;
	z-index  : 2; 
}
md-tabs[md-align-tabs="dcy_bottom"] > md-tabs-content-wrapper {
	top    : 0;
	bottom : 48px; 
}

/* Disabilita l'elemento DOM su cui applicata */
.dcy_not_editable {
	pointer-events: none!important;
    cursor: default!important;
}

/*Fadein utilizzato al momento solo sul loader del template manager*/
.fadeIn {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opekra */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
